<!-- NAVIGATION -->
<div class="masthead">
	<div class="container">
		<!-- button for small devices-->
		<div class="row no-margin">
			<div class="span12">
				<!-- hidden navigation-->
				<div class="hidden-desktop">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-align-justify"></span></a>
				</div>
				<!-- main navigation -->
				<div class="navbar">
					<div class="nav-collapse collapse ">
						<ul class="nav">
							<li class="main-nav"><a href="#contactus">צרו קשר</a></li>
							<li class="main-nav"><a href="#articles">מאמרים</a></li>
							<li class="main-nav"><a href="#recommendations">המלצות</a></li>
							<li class="main-nav"><a href="#classes">שיעורים</a></li>
							<li class="main-nav"><a href="#about">אודות</a></li>
						</ul>
					</div>
				</div>
				<!-- logo -->
				<div class="brand pull-right" dir="rtl">
					<a href="#intro"><img src="{{ root_url }}/images/logo.png" style="height: 40px;">&nbsp;לנוע <span style="color: rgb(180, 160, 226);">עם</span> נועה</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END NAVIGATON -->
