<!-- header -->
<header id="header">
	<div id="menu" class="header-menu fixed">
		<div class="container box">
			<div class="row">
				<nav role="navigation" class="col-sm-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!--== Logo ==-->
						<span class="navbar-brand logo">
							<span class="fa fa-map-marker"></span>
							כנס מצו”ב לדורותיו
						</span>
					</div>
					<div id="nav-menu" class="navbar-collapse collapse">

						<!--== Navigation Menu ==-->
						<ul class="nav navbar-nav">
							<li class="current"><a href="#header">דף הבית</a></li>
							<li><a href="#register">הירשם</a></li>
						</ul>

					</div>
				</nav>
			</div>
		</div>
	</div>

	<!--== Site Description ==-->
	<div class="header-cta">
		<div class="container">
			<div class="row">
				<div class="blk">
					<h1>כנס מצו”ב 2014</h1>
				</div>
			</div>
			<div class="row">
				<div class="blk">
					<input type="submit" value="הרשמה" name="submit" id="goregister">
				</div>
			</div>
		</div>
	</div>

	<div class="header-bg">
		<div id="preloader">
			<div class="preloader"></div>
		</div>
		<div class="main-slider" id="main-slider">
			<!--== Main Slider ==-->
			<ul class="slides">
				<li><img src="images/matzov-bg.jpg" alt="Slide Image"/></li>
				<!--<li><img src="images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>-->
			</ul>

		</div>
	</div>
</header>
