<!-- custom head -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--== Javascript Files ==-->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="javascripts/jquery-2.1.0.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.scrollTo.js"></script>
<script src="javascripts/jquery.nav.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/jquery.flexslider.js"></script>
<script src="javascripts/jquery.accordion.js"></script>
<script src="javascripts/jquery.placeholder.js"></script>
<script src="javascripts/jquery.fitvids.js"></script>
<script src="javascripts/gmap3.js"></script>
<script src="javascripts/fancySelect.js"></script>
<script src="javascripts/main.js"></script>

<!--== CSS Files ==-->
<link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
<link href="stylesheets/style.css" rel="stylesheet" media="screen">
<link href="stylesheets/animate.min.css" rel="stylesheet" media="screen">
<link href="stylesheets/font-awesome.css" rel="stylesheet" media="screen">
<link href="stylesheets/owl.carousel.css" rel="stylesheet" media="screen">
<link href="stylesheets/flexslider.css" rel="stylesheet" media="screen">
<link href="stylesheets/fancySelect.css" rel="stylesheet" media="screen">
<link href="stylesheets/responsive.css" rel="stylesheet" media="screen">

<!--== Google Fonts ==-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
