<!-- custom head -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--== Javascript Files ==-->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{{ root_url }}/javascripts/jquery-1.11.0.min.js"></script>
<script src="{{ root_url }}/javascripts/bootstrap.min.js"></script>
<script src="{{ root_url }}/javascripts/jquery.scrollTo.js"></script>
<script src="{{ root_url }}/javascripts/jquery.nav.js"></script>
<script src="{{ root_url }}/javascripts/owl.carousel.min.js"></script>
<script src="{{ root_url }}/javascripts/jquery.flexslider.js"></script>
<script src="{{ root_url }}/javascripts/jquery.accordion.js"></script>
<script src="{{ root_url }}/javascripts/jquery.placeholder.js"></script>
<script src="{{ root_url }}/javascripts/jquery.fitvids.js"></script>
<script src="{{ root_url }}/javascripts/gmap3.js"></script>
<script src="{{ root_url }}/javascripts/fancySelect.js"></script>
<script src="{{ root_url }}/javascripts/main.js"></script>


<!--== CSS Files ==-->
<link href="{{ root_url }}/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
<link href="{{ root_url }}/stylesheets/style.css" rel="stylesheet" media="screen">
<link href="{{ root_url }}/stylesheets/animate.min.css" rel="stylesheet" media="screen">
<link href="{{ root_url }}/stylesheets/font-awesome.css" rel="stylesheet" media="screen">
<link href="{{ root_url }}/stylesheets/owl.carousel.css" rel="stylesheet" media="screen">
<link href="{{ root_url }}/stylesheets/flexslider.css" rel="stylesheet" media="screen">
<link href="{{ root_url }}/stylesheets/fancySelect.css" rel="stylesheet" media="screen">
<link href="{{ root_url }}/stylesheets/responsive.css" rel="stylesheet" media="screen">

<!--== Google Fonts ==-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
