// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#content {
	width: 960px;
	position: relative;
	margin: auto;
	img {
		position:absolute;
	}
}

.pane {
	background-size: 100% 100%;
	position: relative;
}

.header_pane {
	background-image: url('/images/header_pane.jpg');
	height: 346px;
	overflow: visible;
}

.pin_icon_img {
	left: 462px;
	top: 328px;
}

.intro_pane {
	background-image: url('/images/intro_pane.jpg');
	height: 374px;
}

.down_arrow_icon_img {
	left: 465px;
	top: 708px;
}

.about_us_pane {
	background-image: url('/images/about_us_pane.jpg');
	height: 495px;

	.ron_photo {
		left: 700px;
		top: 80px;
	}

	.yuval_photo {
		left: 95px;
		top: 40px;
	}

	.ron_linkedin_icon {
		top: 145px;
		left: 630px;
	}

	.yuval_linkedin_icon {
		top: 103px;
		left: 295px; 
	}
}

.how_does_it_work_pane {
	background-image: url('/images/how_does_it_work_pane.jpg');
	height: 512px;
}

.contact_us_pane {
	background-image: url('/images/contact_us_pane.jpg');
	height: 491px;
}



.google-form-wrapper {
	position: absolute;
	left: 50px;
	top: 120px;

  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .required-message, .ss-secondary-text, .ss-q-title, .error-message {
  	display: none; 
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      color: white;
      width: 410px;
      font: inherit;
      border: 0;
      background-color: rgba(0, 71, 100, .5);

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
    }
    textarea {
      width: 410px;
      color: white;
      padding: 5px;
      font: inherit;
      border: 0;
      background-color: rgba(0, 71, 100, .5);
      resize: none;

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }

  #navigation-table {
  	float: right;

		  #ss-submit {
		  	background-image: url('/images/launch_button.png');
		  	background-color: rgba(0, 0, 0, 0);
		  	text-indent:-9999px;
		  	width: 89px;
		  	height: 29px;
		  }
  }
}